.box-modal {
	position: relative;
	width: 300px;
	padding: 16px;
	background: #fff;
	box-shadow: 0 0 0 6px rgba(153, 153, 153, .3);
	border-radius: 6px;
}
.box-modal_close { 
    position: absolute; 
	right: 10px; top: 6px; 
	font-size: 16px; 
	line-height: 15px; 
	color: #999; 
	cursor: pointer; 
}
.box-modal_close:hover { 
    color: #666; 
}


@media (min-width: 576px) {
    .box-modal {width: 450px;}
}

@media (min-width: 768px) {
	.box-modal {width: 600px;}
  }
 
@media (min-width: 992px) {
	.box-modal {width: 800px;}
}

@media (min-width: 1200px) {
	.box-modal {width: 1000px;}
}
